.resources{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    border-bottom: silver 1px solid;
    border-top: silver 1px solid;
    margin-bottom: 217px;
   
}